<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <title>Hello, world!</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/add-product" method="post" class="tm-edit-product-form" method="post" enctype="multipart/form-data">
                  <div class="form-group mb-3">
                    <label for="name">Product Name</label>
                    <input id="name" name="name" type="text" class="form-control validate" required/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea name = "description" class="form-control validate" rows="3" required></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="size">Size</label>
                    <select class="custom-select tm-select-accounts" id="size" onclick="PopulateDropDownList('size')" multiple>
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="gender">Gender</label>
                    <select class="custom-select tm-select-accounts" id="gender" onclick="PopulateDropDownList('gender')" multiple>
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="expire_date">Price</label>
                          <input id="expire_date" name="price" type="text" class="form-control validate" data-large-mode="true"/>
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="stock">Units In Stock</label>
                          <input id="stock" name="quantity" type="text" class="form-control validate" required/>
                        </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="custom-file mt-3 mb-3">
                  <input id="images" type="file" style="display:none;" name="images" multiple/>
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="UPLOAD PRODUCT IMAGE"
                    onclick="document.getElementById('images').click();"
                  />
                  <i class="far fa-eye fa-2x" data-toggle="modal" data-target="#myModal"></i>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Uploaded Images</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <div id="preview"></div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      
      function previewImages() {
        var preview = document.querySelector('#preview');
        if (this.files) {
          [].forEach.call(this.files, readAndPreview);
        }
        function readAndPreview(file) {
          // Make sure `file.name` matches our extensions criteria
          if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
            return alert(file.name + " is not an image");
          } // else...
          var reader = new FileReader();
          reader.addEventListener("load", function() {
            var image = new Image();
            image.height = 100;
            image.title  = file.name;
            image.src    = this.result;
            preview.append(image);
          });
          reader.readAsDataURL(file); 
        }
      }
      document.querySelector('#images').addEventListener("change", previewImages);
      var clicked = false;
      
      async function PopulateDropDownList(ctype) {
      //Build an array containing Customer records.
      if(document.getElementById(ctype).length == 0){
        await fetch("categories/"+ctype)
        .then(response => response.json())  
        .then(json => {
            // console.log(json);
            var categoryList = json["categories"];
            var ddlCategory = document.getElementById(ctype);
            //Add the Options to the DropDownList.
            for (var i = 0; i < categoryList.length; i++) {
                var option = document.createElement("OPTION");
                //Set Customer Name in Text part.
                option.innerHTML = categoryList[i].name;
                //Set CustomerId in Value part.
                option.value = categoryList[i].id;
                //Add the Option element to DropDownList.
                ddlCategory.options.add(option);
            }
            clicked = true;
        });
        }
      }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
