*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
.nav-link{
    color: black;
    font-weight: 600;
}
.navbar-brand{
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}
.carousel-caption h1{
    color: black;
    font-size: 70px;
    font-weight: 400;
}
.carousel-caption p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.btn0{
    background-color: red;
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;
}
.btn0:hover{
    background-color: white;
    color: red;
    transition: 0.4s;
}
/* ------------- */
.collection span{
    color: yellowgreen;
    font-size: 19px;
    font-weight: 800;
    padding-left: 5px;
}
.card{
    border: none;
}
.collection input{
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: yellowgreen;
    color: white;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: none;
    top: 50%;
    left: 30%;
    opacity: 0;
}
.collection .card.card:hover input{
    opacity: 1;
    transition: 1s;
}
.collection input:hover{
    background-color: grey;
    transition: 0.5s;
}

/* login style */
.loginRow{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
.loginImage{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.login{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.login:hover{
    background: white;
    border: 1px solid;
    color: black;
}
/* product css */
.single-product{
    margin-top: 80px;
    margin-left: 80px;
}
.single-product .col-4 img{
    padding: 0;
}
.single-product .col-6{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding:  10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid orange;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.addToCartBtn{
    background-color: red;
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;
}
.addToCartBtn:hover{
    background-color: white;
    color: red;
    transition: 0.4s;
}