*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link{
    color: black;
    font-weight: 600;
}
.navbar-brand{
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}
.carousel-caption h1{
    color: black;
    font-size: 70px;
    font-weight: 400;
}
.carousel-caption p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.btn0{
    background-color: red;
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;
}
.btn0:hover{
    background-color: white;
    color: red;
    transition: 0.4s;
}
/* ------------- */
.collection span{
    color: yellowgreen;
    font-size: 19px;
    font-weight: 800;
    padding-left: 5px;
}
.card{
    border: none;
}
.collection input{
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: yellowgreen;
    color: white;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: none;
    top: 50%;
    left: 30%;
    opacity: 0;
}
.collection .card.card:hover input{
    opacity: 1;
    transition: 1s;
}
.collection input:hover{
    background-color: grey;
    transition: 0.5s;
}